# Preshared webhook key. Random self generated.
export WEBHOOK_KEY="random-key"

export WHATSAPP_ACCESS_TOKEN=foo
export WHATSAPP_PHONE_NUMBER_ID=foo

# Keep this uncomment to use WhatsApp webhooks.
# export TELEGRAM_BOT_TOKEN=foo

# random shared token.
export TRMNL_TOKEN="random-key"
export PUBLIC_BASE_URL="https://example.com"

